@keyframes slide-in-from-left {
        0% {
            transform: translateX(-100vw);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
    .slide-in-from-left {
        animation: slide-in-from-left 0.5s ease-out forwards;
    }

@keyframes slide-in-from-right {
        0% {
            transform: translateX(100vw);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
    .slide-in-from-right {
        animation: slide-in-from-right 1s ease-out forwards;
    }
@keyframes slide-in-from-top {
        0% {
            transform: translateY(-100%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
    .slide-in-from-top {
        animation: slide-in-from-top 0.5s ease-out forwards;
    }

@keyframes slide-out {
        0% {
            opacity: 1;
            transform: translateX(0);
            display: flex;
        }
        100% {
            opacity: 0;
            transform: translateX(100vw);
            display: hidden;
        }
    }
    .slide-out {
        animation: slide-out .25s ease-out forwards;
    }

@keyframes pop {
        0% {
            opacity: 0;
            transform: translateY(0), scale(1);
        }
        50%{
            opacity: 1;
            transform: translateY(-200%) scale(1.05);
            
        }
        100% {
            opacity: 1;
            transform: translateY(0), scale(1);
            
        }
    }
    .pop {
        animation: pop 0.25s ease-in-out;
    }

.typewriter {
            overflow: hidden; /* Hides text that overflows its width */
            border-right: .15em solid rgb(0, 0, 0); /* The blinking cursor */
            white-space: nowrap; /* Prevents text from wrapping */
            font-size: 2em;
            width: 0; /* Starts with zero width */
            animation: 
                typing 3.5s steps(30, end) forwards, /* The typing animation */
                blink-caret .75s step-end infinite; /* The blinking cursor animation */
        }

        /* The typing animation reveals the text by increasing the width */
        @keyframes typing {
            from { width: 0 }
            to { width: 51}
        }

        /* The blinking cursor animation */
        @keyframes blink-caret {
            from, to { border-color: transparent }
            50% { border-color: black; }
        }

.hidden, 
.hidden.slide-in-from-left-target h2, 
.hidden.slide-in-from-left-target div{
    display: none;
}

html{
    scroll-behavior: smooth;
}

.card-title{
    scroll-margin-top: 5vh;
}

.is-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}